<!-- shopping_list/templates/shopping_list/category_list.html -->
{% extends 'shopping_list/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Categories</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for category in categories %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ category.name }}</h5>
                    <p class="card-text">{{ category.description }}</p> <!-- Display the description -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Fixed button row -->
<div class="fixed-bottom bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <a href="{% url 'add_category' %}" class="btn btn-success btn-lg w-100">Add New Category</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}