<!-- shopping_list/templates/shopping_list/households.html -->
{% extends 'shopping_list/base.html' %}

{% block content %}
<div class="container mt-4">
    <h1>Households</h1>
    <a href="{% url 'add_household' %}" class="btn btn-success mb-3">Add New Household</a>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {% for household in households %}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ household.name }}</h5>
                    <a href="{% url 'household_detail' household.slug %}" class="btn btn-primary mt-2">View Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}